<main class="container">
<div class="container">
    <h1 >TABELA DE ITENS</h1>
</div>
<button>Button</button>

<table>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Peso</th>
        <th scope="col">Medidas</th>
        <th scope="col">Data de Validade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dado of dados">
        <td scope="row">{{dado.id}}</td>
        <td scope="row">{{dado.nome}}</td>
        <td scope="row">{{dado.descricao}}</td>
        <td scope="row">{{dado.peso}}</td>
        <td scope="row">{{dado.medidas}}</td>
        <td scope="row">{{dado.dataValidade}}</td>
      </tr>
    </tbody>
  </table>
  </main>